asgiref==3.8.1
cffi==1.17.1
Django==5.2a1
django-extensions==3.2.3
djangorestframework==3.15.2
djangorestframework_simplejwt[crypto]==5.4.0
pillow==11.1.0
pycparser==2.22
PyJWT==2.10.1
sqlparse==0.5.3
tzdata==2025.1
